@media screen and (min-width: 1026px){
*{
 padding: 0;
 margin: 0;
    
}
body{
    font-family: 'Poppins', sans-serif; 
    overflow-x: hidden;
}
nav{
    height: 130px;
    padding:0px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    z-index: 2;
}
.logo{
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 0px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-img{
    width: 100%;
    border-radius: 50%;
}
.owner h1,p{
    text-transform: uppercase;
    font-size: 200%;
    color: #006D7E;
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav-right{
    width: 50%;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 0px;
}
.nav-right-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin-left: 0%;
}
.nav-right-top-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    font-size: 120%;
}
.goldenrod{
    color: #FFD300;
}
.goldenrod:hover{
    color: #006D7E;
    transition: .9s;
}
.blue{
    color: #006D7E;
}
.blue:hover{
    color: #FFD300;
    transition: .9s;
}

.nav-right-top-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-icon{

}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
nav ul li{
    list-style: none;
    margin-left: 2%;
    padding: 6px 2%;
}
nav ul li:hover{
    background-color:#006D7E;
    border-radius: 50px;
    transition: .5s;
}
nav ul li a{
    font-size: 70%;
    color: #006D7E;
}
nav ul li a:hover{
    color: #FFD300;
}
#dropdown{
    background:  #fff;
    position: absolute;
    z-index: 1;
    top: 500px;
    width: 20px;
    height: 20px;
    visibility:hidden;
}

li:hover ul#dropdown{
    visibility: visible;
    top: 80px;
    padding: 30px 1%;
    display: table-row;
    width: 20%;
    text-align: left;
    height: auto;
    background: #006D7E;
    font-size: 70%;
    margin-left: -1%;
    transition: 0.5s;
    border-radius: 50px;
}
li:hover ul#dropdown li{
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

#dropdown a{
    color: #fff;
    padding: 0;
    font-size: 130%;
}
#dropdown a:hover{
    color: #FFD300;
}
.trademark{
    padding-top: 200px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #fff;
    z-index: -1;
}
.trademark-contents{
    width: 100%;
}
.trademark-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    background-color: #fff;
}

.trademark-left{
    width: 100%;
    margin-left: 5%;
    z-index: 1;
    
}
.trademark-left-content{
    padding: 50px 0%;
    margin-left: 0%;
    width: 100%;
    margin-top: 150px;
}
.trademark-left-content p{
    color: #FFD300;
    font-size: 650%;
    text-transform: uppercase;
  margin-left: 0%;
  width: 100%;
  line-height: 100%;
  transform: scaleY(2);
}
.trademark-left-content p:hover{
    color: #FFD300;
}
p.blue{
    color: #006D7E;
    font-weight: 500;
    line-height: 3;
    font-size: 350%;
    width: 130%;
    margin-left: 10%;
    transform: scaleY(2);
}
p.blue:hover{
    color: #006D7E;
}
p.small{
    font-size: 200%;
    width: 100%;
    margin-top: 20px;
    margin-left: 20%;
    line-height: 95%;
    color: red;
    font-weight: normal;
    transform: scaleY(3);
    font-family: italic;
}
p.small:hover{
    color: red;
}

.trademark-btn a{
    background-color: #006D7E;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    padding: 10px 10%;
    margin-left: 25%;
    margin-top: 100px;
    color: #FFD300;
   text-transform: uppercase;
   font-size: 100%;
   margin-bottom: 50px;
   border-radius: 30px;
   text-decoration: none;
}

.trademark-btn a:hover{
  background:  #FFD300;
  color: #006D7E;
  font-weight: bold;
  text-decoration: none;
  transition: .5s;
}
.trademark-right-content{
    width: 125%;
    margin-left: -30%;
}
.photo{
    width: 100%;
}
.office{
    width: 100%;
    background-color: #006D7E;
    padding-top: 80px;
    padding-bottom: 280px;
}
.office-contents{
    width: 100%;
    padding: 0 20px;
}
.office-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.office-content-left{
    width: 90%;
    
}
.img-cont{
    width: 100%;
    height: 100%;
    
}
.photo2{
    width: 100%;
    height: 100%;
}
.slogan{
    margin-top: -25px;
    margin-left: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slogan-content p{
    color:  #59BAB6;
    line-height: 100%;
    font-size: 250%;
    font-weight: normal;
    text-transform: none;
    transform: scaleY(2);
    font-family: italic;
}
.slogan-btn {
    border: 2px solid #fff;
    width: 42%;
    margin-top: 60px;
    padding: 10px 2%;
    margin-left: 25%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.slogan-btn :hover{
    border: 2px solid  #FFD300;
    color:  #FFD300;
    transition: .5s;
}
.office-content-right{
    width: 97%;
    margin-left: -2%;
    padding: 0 2%;
}
.title{
    width: 100%;
}
.office-content-right .title p{
    width: 100%;
    font-size: 450%;
    font-weight: 500;
    color:  #59BAB6;
    transform: scaleY(1.5);
    font-family: italic;
}
.sub-title{
    margin-top: 20px;
 
}
.sub-title p{
    color: #FFD300;
    font-weight: bold;
    font-size: 150%;
    text-transform: none;
    transform: scaleY(3);
    line-height: 0.9;
    margin-top: 100px;
}
.sub-title-txt{
    margin-top: 200px;
}
.sub-title-txt p{
    color: #fff;
    text-transform: none;
    font-size: 100%;
    transform: scaleY(2);
    margin-top: 125px;
}
.business-philosophy{
    padding-top: 60px;
    padding-bottom: 100px;
    background-blend-mode: multiply;
    background-color: #006D7E;
    background-image: url(../images/melvin-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.business-philosophy-contents{
    width: 100%;
}
.business-philosophy-content{
    width: 45%;
    background: #fff;
    height: 700px;
    margin-left: 5%;
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 60px;
}
.business-philosophy-content-title{
    width: 70%;
    padding-left: 10%;
    padding-right: 30%;
}
.business-philosophy-content-title span p{
    color: #59BAB6;
    font-size: 350%;
    line-height: 0;
    transform: scaleY(1.5);
}
.business-philosophy-content-title p{
    line-height: 0.9;
    font-size: 350%;
    margin-top: 85px;
    transform: scaleY(2);
    font-weight: bold;
}
.business-philosophy-btns{
    margin-top: 100px;
}
.business-philosophy-btn{
    border: 1.5px solid #59BAB6;
    color: #fff;
    transform: scaleY(2);
    width: 100%;
    padding: 10px 2.5%;
    margin-top: 58px;
    color: #006D7E;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: italic;
}
.business-philosophy-btn:hover{
    background-color: #f1f6f7;
    filter:opacity(100%);
}
.vector-menu{
    margin-left: 25px;
    width: 1.5%;
    height: 5px;
}
.contact-container{
    width: 100%;
    background-color: #006D7E;
}
.contact-contents{
    width: 100%;
}
.contact-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-left{
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 5%;
    padding-right: 5%;
}
.contact-left-content h1{
    text-transform: uppercase;
    color: #fff;
    transform: scaleY(1.5);
    font-size: 50px;
    margin-top: 70px;
    font-weight: normal;
    word-spacing: 20px;
    letter-spacing: 10px;
}
.contact-left-content h1 span{
    color: #FFD300;
    
}
.contact-left-content p{
    color: #fff;
    margin-top: 70px;
    font-family: 'italic';
    transform: scaleY(1.5);
    font-size: 18px;
    line-height: 1.5;
}
p.phone-no{
    color: #FFD300;
    font-size: 40px;
    font-weight: normal;
    margin-top: 40px;
    transform: scaleY(1);
}
p.narrative{
    text-transform: none;
}

.contact-right{
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 20%;
    padding-right: 20%;
}
form{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #fff;
}
.form-title{
   text-transform: none;
   font-size: 200%;
   text-align: center;
}
.form-title p{
    text-transform: none;
} 
input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2.5px solid #006D7E;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
}
::placeholder{
    font-size: 180%;
    font-weight: normal;
}
textarea{
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 30px;
    border-bottom: 2.5px solid #006D7E;
}
.submit{
    background: #006D7E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    color:#FFD300;
    padding: 20px 0;
    margin-top: 30px;
}
.submit:hover{
    background: #ffd300;
    color:#006D7E;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}
.footer{
    width: 100%;
    background-color: #074c57;
}
.footer-content{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10%;
}
.footer-left-content{
    padding: 30px 0;
}
.footer-content p{
    color:#fff;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
    transform: scaleY(1.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-content span{
    border: 1.5px solid #fff;
    color:#fff;
    border-radius: 50%;
    font-size: 10px;
    padding: 0 5px;
}
.footer-left-content a{
    font-size: 13px;
    font-weight: normal;
    color: #5eb0bc;
    text-decoration: underline;
    transform: scaleX(0.9);
}
.footer-left-content a:hover{
    color:#ffd300;
    text-decoration: none;
    transition: .5s;
}
.footer-left-content .links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-left-content .links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.footer-left-content .links ul li{
    list-style: none;
    margin-left: 10px;
    transform: scaleY(1.7);
}
.kudos{
    margin-top: 20px;
    text-align: center;
    transform: scaleY(1.9);
}
.kudos a{
    text-transform: uppercase;
    word-spacing: 2.5px;
    color: #5eb0bc;
    text-decoration: none;
    cursor: pointer;
    
}
.kudos a:hover{
    text-decoration: underline;
}

/* Poultry and Fish Page*/
}