@media screen and (max-width:600px){
    *{
        margin: 0;
        padding: 0;
        /*overflow-x: hidden;*/
    }
    body{
        overflow-x: hidden;
    }
    nav{
        width: 100%;
        padding: 10px 0;
        position: fixed;
        background: whitesmoke;
        z-index: 2;
        }
    .logo{
        width: 20%;
        margin-left: 20px;
        margin-top: 0px;
    }
    .logo-img{
        width: 100%;
        border-radius: 50%;
    }
    .owner h1,p{
        text-transform: uppercase;
        font-size: 100%;
        color: #006D7E;
    }
    .nav-left{
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .nav-right{
    display: none;
    }
    .search-icon{
    width: 30%;
    margin-left: 60%;
    height: 50px;
    }
    .trademark{
        width: 100%;
        background-color: #fff;
        z-index: -1;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .trademark-contents{
        width: 100%;
    }
    .trademark-content{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        background-color: #fff;
    }
    
    .trademark-left{
        width: 90%;
        margin-left: 0%;
        z-index: 1;
    }
    .trademark-left-content{
        padding: 0px;
        margin-left: 5%;
        width: 100%;
        margin-top: -50px;
    }
    .trademark-left-content p{
        color: #FFD300;
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 0%;
        margin-top: 20px;
        width: 100%;
        line-height: 100%;
        transform: scaleY(2);
    }
    .trademark-left-content p:hover{
        color: #FFD300;
    }
    p.blue{
        color: #006D7E;
        font-weight: bold;
        font-size: 25px;
        width: 95%;
        margin-top: 0px;
        margin-left: 0%;
        margin-top: 20px;
        transform: scaleY(2);
    }
    p.blue:hover{
        color: #006D7E;
    }
    p.small{
        font-size: 15px;
        width: 95%;
        margin-top: 30px;
        margin-left: 0%;
        color: red;
        font-weight: bold;
        transform: scaleY(3);
        font-family: italic;
    }
    p.small:hover{
        color: red;
    }
    
    .trademark-btn{
        background-color: #006D7E;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        padding: 20px 5%;
        margin-left: 23%;
        margin-top: 50px;
        color: #FFD300;
       text-transform: uppercase;
       
       margin-bottom: 50px;
       border-radius: 30px;
       text-decoration: none;
    }
    .trademark a{
        text-decoration: none;
        color: #FFD300;
        font-size: 80%;
        font-weight: bold;
    }
    .trademark a:hover{
        color: #006D7E;
    }
    .trademark-btn:hover{
      background:  #FFD300;
      transition: .5s;
    }
    .trademark-right-content{
        grid-row: 1;
        width: 100%;
        margin-top: -90px;
    }
    .photo{
        width: 100%;
    }
    .office{
        width: 100%;
        background-color: #006D7E;
        padding: 0px;
    }
    .office-contents{
        width: 100%;
    }
    .office-content{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .office-content-left{
        width: 91%;
        padding: 0 20px;
    }
    .img-cont{
        width: 100%;
    }
    .photo2{
        width: 100%;
        margin-top: 20px;
        height: 500px;
    }
    .slogan{
        margin-top: 10px;
        margin-left: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .slogan-content p{
        color:  #59BAB6;
        line-height: 100%;
        font-size: 20px;
        font-weight: normal;
        text-transform: none;
        transform: scaleY(1);
        font-family: italic;
    }
    .slogan-btn {
        border: 2px solid #fff;
        width: 42%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 25%;
        padding: 10px 2%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    .slogan-btn a{
        text-decoration: none;
    }
    .slogan-btn :hover{
        border: 2px solid  #FFD300;
        color:  #FFD300;
        
        transition: .5s;
    }
    .office-content-right{
        width: 95.4%;
        height: 600px;
        margin-left: 0%;
        padding: 0 2%;
    }
    .title{
        width: 100%; 
        margin-top: 20px; 
    }
    .office-content-right .title p{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 50px;
        font-weight: 500;
        color:  #59BAB6;
        transform: scaleY(1.5);
        font-family: italic;
    }
    .sub-title{
        margin-top: 10px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sub-title p{
        color: #FFD300;
        font-weight: bold;
        font-size: 20px;
        text-transform: none;
        transform: scaleY(2);
        line-height: 1;
        margin-top: 0px;
        
    }
    .sub-title-txt{
        margin-top: 0px;
    }
    .sub-title-txt p{
        color: #fff;
        text-transform: none;
        font-size: 100%;
        transform: scaleY(2);
        margin-top: 100px;
    }
    .business-philosophy{
        padding-top: 3px;
        padding-bottom: 100px;
        background-blend-mode: multiply;
        background-color: #006D7E;
        background-image: url(../images/melvin-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }
    .business-philosophy-contents{
        width: 91%;
    }
    .business-philosophy-content{
        width: 100%;
        background: #fff;
        height: 700px;
        margin-left: 3.5%;
        padding-top: 0px;
        padding-left: 2%;
        padding-right: 0%;
        padding-bottom: 60px;
    }
    .business-philosophy-content-title{
        width: 70%;
        padding-left: 10%;
        padding-right: 30%;
    }
    .business-philosophy-content-title span p{
        color: #59BAB6;
        font-size: 50px;
        line-height: 0;
        transform: scaleY(1.5);
    }
    .business-philosophy-content-title p{
        line-height: 0.9;
        font-size: 40px;
        margin-top: 85px;
        transform: scaleY(2);
        font-weight: bold;
    }
    .business-philosophy-btns{
        margin-top: 100px;
    }
    .business-philosophy-btn{
        border: 1.5px solid #59BAB6;
        color: #fff;
        transform: scaleY(2);
        width: 90%;
        padding: 10px 2.5%;
        margin-top: 58px;
        color: #006D7E;
        border-top: none;
        border-left: none;
        border-right: none;
        font-family: italic;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .business-philosophy-btn:hover{
        background-color: #f1f6f7;
        filter:opacity(100%);
    }
    .business-philosophy a{
        text-decoration: none;
    }
    .vector-menu{
        margin-left: 25px;
        width: 1.5%;
        height: 5px;
    }
    .contact-container{
        width: 100%;
        background-color: #006D7E;
    }
    .contact-contents{
        width: 100%;
    }
    .contact-content{
        grid-template-columns: 1fr;
    }
    .contact-left{
        padding-top: 10px;
        padding-bottom: 50px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .contact-left-content h1{
        text-transform: uppercase;
        color: #fff;
        transform: scaleY(1.5);
        font-size: 25px;
        margin-top: 70px;
        font-weight: normal;
        word-spacing: 10px;
        letter-spacing: 10px;
    }
    .contact-left-content h1 span{
        color: #FFD300;
        
    }
    .contact-left-content p{
        color: #fff;
        margin-top: 70px;
        font-family: 'italic';
        transform: scaleY(1.5);
        font-size: 18px;
        line-height: 1.5;
    }
    p.phone-no{
        color: #FFD300;
        font-size: 40px;
        font-weight: normal;
        margin-top: 40px;
        transform: scaleY(1);
    }
    p.narrative{
        text-transform: none;
    }
    
    .contact-right{
        padding-top: 20px;
        padding-bottom: 80px;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    form{
        display: flex;
        width: 90%;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 5%;
        padding-right: 5%;
        background-color: #fff;
    }
    .form-title{
       text-transform: none;
       font-size: 200%;
       text-align: center;
    }
    .form-title p{
        text-transform: none;
    } 
    input{
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 2.5px solid #006D7E;
        padding-top: 20px;
        padding-bottom: 50px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 50px;
    }
    ::placeholder{
        font-size: 100%;
        font-weight: normal;
    }
    textarea{
        border-top: none;
        border-right: none;
        border-left: none;
        margin-top: 30px;
        border-bottom: 2.5px solid #006D7E;
    }
    .submit{
        background: #006D7E;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 100%;
        color:#FFD300;
        padding: 20px 0;
        margin-top: 30px;
    }
    .submit:hover{
        background: #ffd300;
        color:#006D7E;
        border: none;
        transition: 0.5s;
        cursor: pointer;
    }
    .footer{
        width: 100%;
        background-color: #074c57;
    }
    .footer-content{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 10%;
    }
    .footer-left-content{
        padding: 30px 0;
    }
    .footer-content p{
        color:#fff;
        font-size: 13px;
        font-weight: normal;
        text-transform: none;
        transform: scaleY(1.7);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-content span{
        border: 1.5px solid #fff;
        color:#fff;
        border-radius: 50%;
        font-size: 10px;
        padding: 0 5px;
    }
    .footer-left-content a{
        font-size: 10px;
        font-weight: normal;
        color: #5eb0bc;
        text-decoration: underline;
        transform: scaleX(0.9);
    }
    .footer-left-content a:hover{
        color:#ffd300;
        text-decoration: none;
        transition: .5s;
    }
    .footer-left-content .links{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-left-content .links ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .footer-left-content .links ul li{
        list-style: none;
        margin-left: 10px;
        transform: scaleY(1.7);
    }
    .kudos{
        margin-top: 20px;
        text-align: center;
        transform: scaleY(1.9);
    }
    .kudos a{
        text-transform: uppercase;
        word-spacing: 2.5px;
        color: #5eb0bc;
        text-decoration: none;
        cursor: pointer;
        
    }
    .kudos a:hover{
        text-decoration: underline;
    }
}