
*{
 padding: 0;
 margin: 0;
    
}
body{
    font-family: 'Poppins', sans-serif; 
}
nav{
    height: auto;
    padding:  0px;
    /*position: fixed;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 30%;
    margin-left: 20px;
}
.logo-img{
    width: 100%;
    border-radius: 50%;
}
.owner h1,p{
    text-transform: uppercase;
    font-size: 200%;
    color: #006D7E;
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav-right{
    width: 50%;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
}
.nav-right-top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin-left: 7%;
}
.nav-right-top-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    font-size: 150%;
}
.goldenrod{
    color: #FFD300;
}
.goldenrod:hover{
    color: #006D7E;
    transition: .9s;
}
.blue{
    color: #006D7E;
}
.blue:hover{
    color: #FFD300;
    transition: .9s;
}
.nav-right-top-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.nav-right-top-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-icon{

}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
nav ul li{
    list-style: none;
    margin-left: 2%;
    padding: 6px 2%;
}
nav ul li:hover{
    background-color:#006D7E  ;
    border-radius: 50px;
    transition: .5s;
}
nav ul li a{
    font-size: 90%;
    color: #006D7E;
}
nav ul li a:hover{
    color: #FFD300;
}
#dropdown{
    background:  #fff;
    position: absolute;
    z-index: 1;
    top: 500px;
    width: 20px;
    height: 20px;
    visibility:hidden;
}

li:hover ul#dropdown{
    visibility: visible;
    top: 98px;
    padding: 30px 1%;
    display: table-row;
    width: 20%;
    text-align: left;
    height: auto;
    background: #006D7E;
    font-size: 70%;
    margin-left: -1%;
    transition: 0.5s;
    border-radius: 50px;
}
li:hover ul#dropdown li{
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

#dropdown a{
    color: #fff;
    padding: 0;
    font-size: 150%;
}
#dropdown a:hover{
    color: #FFD300;
}
.trademark{
    padding: 50px 0;
    width: 100%;
    
}
.trademark-contents{
    width: 100%;
}
.trademark-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.trademark-left{
    width: 100%;
    margin-left: 5%;
}
.trademark-left-content{
    padding: 50px 0;
    margin-left: 0%;
    width: 100%;
}
.trademark-left-content p{
    color: #FFD300;
    font-size: 650%;
    text-transform: uppercase;
  font-weight: 700;
  margin-left: 0%;
  width: 100%;
  line-height: 100%;
}
.trademark-left-content p:hover{
    color: #FFD300;
}
p.blue{
    color: #006D7E;
    font-weight: 500;
    line-height: 100%;
    font-size: 350%;
    width: 130%;
    margin-left: 10%;
}
p.blue:hover{
    color: #006D7E;
}
p.small{
    font-size: 200%;
    width: 100%;
    margin-top: 10px;
    margin-left: 20%;
    line-height: 95%;
    color: red;
    font-weight: normal;
}
p.small:hover{
    color: red;
}

.trademark-btn{
    background-color: #006D7E;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    padding: 10px 10%;
    margin-left: 25%;
    margin-top: 30px;
    color: #FFD300;
   text-transform: uppercase;
   font-size: 100%;
   margin-bottom: 50px;
   border-radius: 30px;
}

.trademark-btn:hover{
  background:  #FFD300;
  color: #006D7E;
  font-weight: bold;
  transition: .5s;
}
.trademark-right-content{
    width: 125%;
    margin-left: -30%;
    z-index: -1;
}
.photo{
    width: 100%;
}
.office{
    width: 100%;
    background-color: #006D7E;
    padding: 170px 0;
}
.office-contents{
    width: 100%;
}
.office-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.office-content-left{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-cont{
    width: 70%;
    height: 150%;
}
.photo2{
    width: 100%;
    height: 100%;
}
.office-content-right{
    width: 97%;
    margin-left: -2%;
    padding: 0 2%;
}
.title{
    width: 100%;
}
.title p{
    width: 100%;
    font-size: 450%;
    font-weight: 500;
    color:  #59BAB6;
}
.sub-title{
    margin-top: 20px;
    line-height: 1.5;
}
.sub-title p{
    color: #FFD300;
    font-weight: bold;
    font-size: 150%;
    text-transform: none;
}
