
*{
 padding: 0;
 margin: 0;
    
}
body{
    font-family: 'Poppins', sans-serif; 
}
nav{
    height: auto;
    padding:  0px;
    /*position: fixed;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 30%;
    margin-left: 20px;
}
.logo-img{
    width: 100%;
    border-radius: 50%;
}
.owner h1,p{
    text-transform: uppercase;
    font-size: 200%;
    color: blue
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav-right{
    width: 50%;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
}
.nav-right-top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin-left: 7%;
}
.nav-right-top-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    font-size: 150%;
}
.goldenrod{
    color: goldenrod;
}
.goldenrod:hover{
    color: blue;
    transition: .9s;
}
.blue{
    color: blue;
}
.blue:hover{
    color: goldenrod;
    transition: .9s;
}
.nav-right-top-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.nav-right-top-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-icon{

}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
nav ul li{
    list-style: none;
    margin-left: 0px;
    padding: 6px 2%;
}
nav ul li:hover{
    background-color: rgb(140, 140, 233);
    border-radius: 50px;
    transition: .5s;
}
nav ul li a{
    font-size: 108%;
}
nav ul li a:hover{
    color: rgb(142, 103, 3);
}
#dropdown{
    background:  #fff;
    position: absolute;
    z-index: 1;
    top: 500px;
    width: 20px;
    height: 20px;
    visibility:hidden;
}

li:hover ul#dropdown{
    visibility: visible;
    top: 97px;
    padding: 30px 1%;
    display: table-row;
    width: 20%;
    text-align: left;
    height: auto;
    background:rgb(140, 140, 233)  ;
    font-size: 70%;
    margin-left: -1%;
    transition: 0.5s;
    border-radius: 50px;
}
li:hover ul#dropdown li{
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

#dropdown a{
    color: #fff;
    padding: 0;
    font-size: 150%;
}
#dropdown a:hover{
    color: goldenrod;
}
.trademark{
    padding: 50px 0;
}
.trademark-left{
    width: 90%;
}
.trademark-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 0;
}
.trademark-left-content{
    padding: 50px 0;
}
.trademark-left-content p{
    color:rgb(244, 244, 60);
    font-size: 700%;
    text-transform: uppercase;
  font-weight: bold;
  margin-left: 20%;
}
.trademark-left-content p:hover{
    color:rgb(244, 244, 60);
}
p.blue{
    color: rgb(89, 89, 243);
    font-weight: 500;
    line-height: 65px;
    font-size: 400%;
    width: 130%;
}
p.blue:hover{
    color: rgb(140, 140, 244);
}
p.small{
    font-size: 250%;
    width: 78%;
    margin-left: 50%;
    line-height: 35px;
    color: red;
    font-weight: normal;
}
p.small:hover{
    color: red;
}

.trademark-btn{
    background-color: rgb(89, 89, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    padding: 10px 10%;
    margin-left: 50%;
    margin-top: 30px;
    color: rgb(244, 244, 60);
   text-transform: uppercase;
   font-size: 100%;
   margin-bottom: 50px;
   border-radius: 30px;
}

.trademark-btn:hover{
  background:  rgb(244, 244, 60);
  color:rgb(89, 89, 243);
  font-weight: bold;
  transition: .5s;
}
.trademark-right-content{
    width: 110%;
    margin-left: -10%;
    z-index: -1;

}
.photo{
    width: 100%;
}
